/*
CSS Reset
http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* End reset */

a {
  color: rgb(60, 60, 60);
  text-decoration-color: #a2dffb;
  color: #0089c7;
}

a:hover,
a:focus {
  opacity: 0.66;
}

body,
input {
  color: rgb(60, 60, 60);
  font-family: 'Lora', serif;
  font-weight: 400;
}

body {
  font-size: 20px;
}

b {
  font-weight: bold;
}

caption {
  font-weight: bold;
  padding-bottom: 12px;
}

figcaption {
  margin-top: 10px;
  margin-left: -20px;
  margin-right: -20px;
}

figcaption,
footer > p {
  color: rgb(117, 117, 117);
  font-size: 16px;
  text-align: center;
}

footer {
  margin-top: 75px;
  margin-bottom: 75px;
}

h1 {
  margin-bottom: 10px;
}

h1,
h2 {
  font-weight: 700;
  font-family: 'Rubik', sans-serif;
  letter-spacing: -0.016em;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 22px;
}

header {
  margin-top: 50px;
}

header > p {
  margin: 0;
}

.image-container {
  padding: 24px 0;
}

img {
  display: block;
  margin: auto;
  max-width: 70%;
  max-height: 70%;
}

input {
  border: none;
  font-size: 20px;
  outline: none;
}

p {
  margin: 10px 0px;
  line-height: 30px;
  overflow-wrap: break-word;
  word-break: break-word;
}

section {
  margin-top: 50px;
}

table {
  margin: 30px auto;
}

th {
  background-color: #dff0f5;
  font-weight: 500;
}

td,
th {
  text-align: right;
  padding: 12px;
}

tr:nth-child(odd) {
  background-color: #f9f9f9;
}

ul > * {
  padding-bottom: 10px;
}

#content-wrapper {
  margin: auto;
  max-width: 692px;
}

.auto-complete {
  background-color: white;
  border: 1px solid lightgrey;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  border-top: none;
  box-shadow: 0 4px 6px rgb(32 33 36 / 28%);
  clip-path: inset(0px -8px -8px -8px);
  padding-bottom: 8px;
  position: absolute;
  width: -webkit-calc(100% - 2px);
  width: -moz-calc(100% - 2px);
  width: calc(100% - 2px);
  overflow: hidden;
}

.search-container {
  margin: auto;
  padding: 24px 0px;
  width: 492px;
  position: relative;
}

.auto-line,
.search,
.suggestion {
  display: block;
  width: 90%;
  margin: auto;
}

.auto-line {
  border-top: 1px solid lightgrey;
  margin-bottom: 10px;
}

.search-bar {
  background-color: white;
  padding: 8px 0;
  border: 1px solid lightgrey;
  border-radius: 24px;
}

.search-bar:hover {
  box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
}

.search-bar-active {
  box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
}

.search-bar-suggestions {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom: none;
}

.search-img-container > img {
  max-width: 85%;
  max-height: 85%;
}

@media (max-width: 735.98px) {
  h2 {
    font-size: 20px;
  }

  input,
  li,
  p,
  table {
    font-size: 18px;
  }

  img,
  .search-img-container > img {
    max-width: 100%;
    max-height: 100%;
  }

  p {
    letter-spacing: -0.003em;
    line-height: 28px;
  }

  td,
  th {
    padding: 8px;
  }

  #content-wrapper {
    margin: 0 24px;
    max-width: none;
  }

  .search-container {
    width: 100%;
  }
}
