<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>Trie</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <header><h1>Implementing Search Suggestions with a Trie</h1></header>
    <section>
      <h2>Introduction</h2>
      <div>
        <p>
          Selecting an efficient method to find search suggestions presents a
          unique challenge. This challenge is best overcome with a Trie a.k.a.
          Prefix tree. We can see a simple implementation with the following
          search bar:
        </p>
      </div>
      <div class="search-container">
        <form id="trie-form">
          <div id="trie-search-bar" class="search-bar">
            <input
              id="search-input"
              class="search"
              maxlength="2048"
              type="text"
              name="search"
              autocapitalize="off"
              autocomplete="off"
              autocorrect="off"
              autofocus
              spellcheck="false"
              title="Search"
              value=""
            />
          </div>
          <div id="suggestions" class="auto-complete" hidden>
            <div class="auto-line"></div>
          </div>
        </form>
        <figcaption>
          Try me! (<b>Warning:</b> Some suggestions are NSFW)
        </figcaption>
      </div>
      <!-- Space complexity? -->
      <!-- Graphic? -->
      <!-- Talk about hashing vs ? -->
      <!-- Selection of charset, alphabeticizing things -->
      <p>
        This implementation is efficient. Suggestions are found in O(H*C) time.
        "H" represents the height of the Trie. "C" represents the character set
        the Trie supports. Since "C" is limited, it is therefore a constant. The
        time becomes O(H). The height of the Trie is the same as the length of
        its longest suggestion. It is not neccesary to support strings of a
        potentially unlimited length. Most searches are short, so we can set a
        reasonable max height for our Trie. "H" is now a constant so the find
        operation runs in constant time. Deletions and inserts are done in O(H)
        time which reduces to O(1).
      </p>
      <p>
        The Trie will find all suggestions for our given prefix. This presents
        our first problem - we do not want to show a large number of
        suggestions. In this implementation, an external service selects and
        displays the first 10 suggestions in alphabetical order. Do we want
        suggestions filtered on alphabetical order?
      </p>
    </section>

    <script type="text/javascript" src="script.js"></script>
  </body>
</html>
